@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    .print-two-columns
    {
        display:flex;
        justify-content: center;
    }

    .print-column
    {
        flex: 50%;
    }
}