
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 109.5rem;
}.resource-2-cmm {
  box-sizing: border-box;
  padding: 7.7rem 3.213rem 14.9rem 3.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.resource-2-cmm .auto-group-fs2j-dRy {
  margin-bottom: 5.8929rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-fs2j-dRy .mask-group-MMy {
  margin-right: 1.2128rem;
  width: 16.1872rem;
  height: 12.9071rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-fs2j-dRy .mask-group-s5R {
  margin: 0rem 1.213rem 0rem 0rem;
  width: 16.1871rem;
  height: 12.9071rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-fs2j-dRy .mask-group-Bro {
  margin: 0rem 1.213rem 0rem 0rem;
  width: 16.1871rem;
  height: 12.9071rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-fs2j-dRy .mask-group-Huq {
  margin-right: 1.2128rem;
  width: 16.1872rem;
  height: 12.9071rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-fs2j-dRy .mask-group-2Md {
  margin-right: 1.2128rem;
  width: 16.1872rem;
  height: 12.9071rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-fs2j-dRy .mask-group-MPu {
  width: 16.1872rem;
  height: 12.9071rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-vkck-5ao {
  margin-right: 4.9872rem;
  width: calc(100% - 4.9872rem);
  height: 31.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-vkck-5ao .image-17-zBy {
  width: 31.5rem;
  height: 31.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-vkck-5ao .auto-group-9fap-71h {
  box-sizing: border-box;
  padding-left: 3.3rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-vkck-5ao .auto-group-9fap-71h .image-13-qiP {
  margin-right: 3.3rem;
  width: 29.9rem;
  height: 22.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-vkck-5ao .auto-group-9fap-71h .image-16-BGT {
  width: 30.2rem;
  height: 27.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-ozit-W3q {
  margin: 0rem 5.787rem 0rem 7.6rem;
  width: calc(100% - 13.3872rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-ozit-W3q .image-20-d8T {
  margin: 5.9rem 9.5rem 0rem 0rem;
  width: 57.1rem;
  height: 37.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.resource-2-cmm .auto-group-ozit-W3q .image-18-YmD {
  width: 23.2rem;
  height: 34.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
