
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.editing-property-rjq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #0e6843;

  .auto-group-y91z-bBd {
    width: 100%;
    height: 9.6rem;
    position: relative;
    flex-shrink: 0;

    .header-L9D {
      height: 9.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(292.9deg, #048853 99.02%, rgba(0, 0, 0, 0.8399999738) 265.36%);
      width: 144rem;
    }
    .twenty25-SCF {
      color: #ffffff;
      white-space: nowrap;
      height: 7.5rem;
      left: 113.9rem;
      top: 0.5rem;
      font-size: 5rem;
      font-weight: 800;
      line-height: 1.5;
      width: 26.1rem;
      position: absolute;
      font-style: italic;
      font-family: Poppins, 'Source Sans Pro';
    }
    .property-7-jBM {
      line-height: 1.5;
      color: #00ff75;
      height: 9.6rem;
      position: absolute;
      left: 1.4rem;
      text-align: center;
      font-size: 6.4rem;
      font-weight: 700;
      width: 43.5rem;
      top: 0;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-b9zx-Rps {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 5.9rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-y1zz-MyR {
      width: calc(100% - 10.3rem);
      height: 54.9rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 5.5rem 4.2rem 4.8rem;

      .auto-group-kcpf-Uo9 {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.7rem 0.9rem 0rem 0rem;
        width: 35.8rem;

        .status--zFh {
          color: #ffffff;
          text-align: center;
          font-weight: 600;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          font-size: 3.5rem;
        }
        .tenant--uNf {
          width: 100%;
          font-weight: 600;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          text-align: center;
          font-size: 3.5rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .contract-start-date--dpT {
          width: 100%;
          font-size: 3.5rem;
          font-weight: 600;
          line-height: 1.5;
          flex-shrink: 0;
          margin-bottom: 2.1rem;
          text-align: center;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .contract-end-date--xbq {
          font-size: 3.5rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1rem;
          width: 100%;
          text-align: center;
          flex-shrink: 0;
        }
        .monthly-fees--VLs {
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 3.1rem;
          font-size: 3.5rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
        }
        .remarks--cgP {
          width: 100%;
          font-size: 3.5rem;
          font-weight: 600;
          line-height: 1.5;
          flex-shrink: 0;
          text-align: center;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-dg87-LcP {
        margin-right: 5.7rem;
        width: 53.6rem;
        height: 100%;
        flex-shrink: 0;

        .rectangle-75-scK {
          margin-bottom: 1.7rem;
          width: 30.1rem;
          height: 6rem;
          background-color: #ffffff;
          border-radius: 3rem;
        }
        .rectangle-79-QMM {
          margin-bottom: 1.7rem;
          width: 100%;
          height: 6rem;
          background-color: #ffffff;
          border-radius: 3rem;
        }
        .rectangle-84-ws5 {
          margin-bottom: 1.7rem;
          width: 100%;
          height: 6rem;
          background-color: #ffffff;
          border-radius: 3rem;
        }
        .rectangle-85-V7u {
          width: 100%;
          height: 6rem;
          background-color: #ffffff;
          border-radius: 3rem;
          margin-bottom: 1.7rem;
        }
        .rectangle-87-LeK {
          margin-bottom: 2.1rem;
          width: 30.1rem;
          height: 6rem;
          background-color: #ffffff;
          border-radius: 3rem;
        }
        .rectangle-86-5bu {
          border-radius: 3rem;
          width: 100%;
          height: 16rem;
          background-color: #ffffff;
        }
      }
      .property-41-SBZ {
        height: 50.9rem;
        position: relative;
        flex-shrink: 0;
        margin-top: 0.7rem;
        width: 37.7rem;

        .rectangle-43-Nb1 {
          width: 37.7rem;
          position: absolute;
          left: 0;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 0.5rem;
          height: 38.2939rem;
          top: 0;
          border: solid 0.8rem #00ff75;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .green-residences-EdD {
          position: absolute;
          top: 31.1229rem;
          color: #000000;
          white-space: nowrap;
          width: 26.3rem;
          height: 3.6rem;
          font-weight: 600;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          left: 2.3973rem;
          font-size: 2.4rem;
        }
        .taft-ave-malate-manila-vkw {
          font-weight: 600;
          color: #000000;
          white-space: nowrap;
          height: 2.4rem;
          top: 33.9672rem;
          left: 2.5383rem;
          font-size: 1.6rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          width: 19.9rem;
          position: absolute;
        }
        .mask-group-cNs {
          top: 2.7654rem;
          object-fit: contain;
          vertical-align: top;
          width: 32.7182rem;
          height: 28.5418rem;
          position: absolute;
          left: 2.4332rem;
        }
      }
    }
    .auto-group-z8zd-v8f {
      margin: 0rem 6.7rem 341.6rem 7.45rem;
      width: calc(100% - 14.15rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .remove-property-pzj {
        font-weight: 500;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 3.5rem;
        text-decoration-line: underline;
        white-space: nowrap;
        margin-right: 80.95rem;
        line-height: 1.5;
      }
      .auto-group-g4th-KwV {
        height: 10rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        width: 18.6rem;

        .save-fVZ {
          position: absolute;
          text-align: center;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
          width: 6.3rem;
          left: 0;
          top: 5.5rem;
          font-size: 2.5rem;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
          height: 3.8rem;
        }
        .cancel-mYb {
          width: 9.1rem;
          top: 5.5rem;
          font-size: 2.5rem;
          font-family: Poppins, 'Source Sans Pro';
          height: 3.8rem;
          position: absolute;
          left: 9.5rem;
          text-align: center;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          white-space: nowrap;
        }
        .frame-2-fts {
          overflow: hidden;
          width: 10rem;
          height: 10rem;
          position: absolute;
          left: 5.8rem;
          top: 0;
        }
      }
    }
    .mask-group-zw9 {
      margin-right: 7.4rem;
      width: 136.6rem;
      height: 73.7rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
