
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.navigation-bar-signed-in-PQs {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1.9rem 3.5rem 1.9rem 1.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .twenty25-J23 {
    font-weight: 700;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    font-size: 4.8rem;
    line-height: 1.5;
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 63.3rem;
    display: flex;
    align-items: center;
  }
  .buttons-bWw {
    align-items: center;
    flex-shrink: 0;
    display: flex;

    .properties-Ywy {
      margin-right: 5.1rem;
      display: flex;
      line-height: 1.5;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
    }
    .trackers-5S7 {
      margin-right: 6.6rem;
      display: flex;
      font-size: 2.4rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.5;
    }
    .sign-out-QUP {
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      white-space: nowrap;
      display: flex;
    }
  }
}
