
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.property-dashboard-fLB {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .navigation-bar-signed-in-ai3 {
    top: 0;
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    height: 11rem;
    position: absolute;
    left: 0;
    display: flex;
    background-color: #ffffff;
    padding: 1.9rem 3.5rem 1.9rem 1.3rem;
    width: 144rem;

    .twenty25-fzP {
      align-items: center;
      justify-content: center;
      font-size: 4.8rem;
      font-weight: 700;
      white-space: nowrap;
      margin-right: 63.3rem;
      display: flex;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.5;
      color: #000000;
    }
    .buttons-BSw {
      height: calc(100% - 3.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 1.8rem 0;

      .properties-ihm {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 5.1rem;
        align-items: center;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        display: flex;
        justify-content: center;
        white-space: nowrap;
      }
      .trackers-qnP {
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 6.6rem;
        font-weight: 400;
        color: #000000;
        display: flex;
      }
      .sign-out-NGX {
        white-space: nowrap;
        display: flex;
        align-items: center;
        font-size: 2.4rem;
        color: #000000;
        flex-shrink: 0;
        justify-content: center;
        font-weight: 400;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
  }
  .property-9-H8b {
    width: 31.9rem;
    height: 42.8rem;
    position: absolute;
    left: 20rem;
    top: 11.4rem;

    .rectangle-43-bf5 {
      top: 0;
      border: solid 0.5rem rgba(27, 94, 57, 0.8999999762);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 36.8rem;
      position: absolute;
      left: 0;
      border-radius: 0.5rem;
      width: 31.9rem;
      box-sizing: border-box;
      background-color: #ffffff;
    }
    .green-residences-gwR {
      height: 3.6rem;
      position: absolute;
      top: 26.1701rem;
      font-size: 2.4rem;
      font-weight: 600;
      width: 26.3rem;
      left: 2.0285rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .taft-ave-malate-manila-BNP {
      white-space: nowrap;
      width: 19.9rem;
      left: 2.1478rem;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      top: 28.5618rem;
      font-size: 1.6rem;
      font-weight: 600;
    }
    .occupied-5if {
      white-space: nowrap;
      position: absolute;
      left: 5.4rem;
      line-height: 1.5;
      font-size: 2rem;
      font-weight: 600;
      color: #858122;
      font-family: Poppins, 'Source Sans Pro';
      width: 9.9rem;
      height: 3rem;
      top: 31.8rem;
    }
    .mask-group-CHV {
      position: absolute;
      left: 2.0588rem;
      top: 2.3253rem;
      object-fit: contain;
      vertical-align: top;
      width: 27.6846rem;
      height: 23.9998rem;
    }
    .rectangle-64-uhh {
      top: 31.7rem;
      border-radius: 0.5rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      background-color: #e2dc4f;
      width: 3.2rem;
      height: 3.2rem;
      position: absolute;
      left: 2rem;
    }
  }
  .property-10-cc7 {
    width: 31.9rem;
    height: 42.8rem;
    position: absolute;
    left: 20rem;
    top: 51.5rem;

    .rectangle-43-LgX {
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 31.9rem;
      height: 36.8rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.5rem rgba(27, 94, 57, 0.8999999762);
      background-color: #ffffff;
      border-radius: 0.5rem;
    }
    .green-residences-PPu {
      width: 26.3rem;
      left: 2.0285rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.6rem;
      position: absolute;
      top: 26.1701rem;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
    }
    .taft-ave-malate-manila-gP1 {
      height: 2.4rem;
      left: 2.1478rem;
      color: #000000;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      width: 19.9rem;
      position: absolute;
      top: 28.5618rem;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .occupied-Nmd {
      width: 9.9rem;
      height: 3rem;
      font-weight: 600;
      position: absolute;
      left: 5.4rem;
      top: 31.8rem;
      font-size: 2rem;
      line-height: 1.5;
      color: #858122;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .mask-group-Htb {
      height: 23.9998rem;
      position: absolute;
      left: 2.0588rem;
      top: 2.3253rem;
      object-fit: contain;
      vertical-align: top;
      width: 27.6846rem;
    }
    .rectangle-64-E39 {
      left: 2rem;
      box-sizing: border-box;
      background-color: #e2dc4f;
      width: 3.2rem;
      position: absolute;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      height: 3.2rem;
      top: 31.7rem;
    }
  }
  .property-13-KKV {
    width: 31.9rem;
    height: 42.8rem;
    position: absolute;
    left: 56rem;
    top: 51.5rem;

    .rectangle-43-Suu {
      left: 0;
      top: 0;
      background-color: #ffffff;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      width: 31.9rem;
      height: 36.8rem;
      position: absolute;
      border: solid 0.5rem rgba(27, 94, 57, 0.8999999762);
    }
    .green-residences-wbm {
      height: 3.6rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      width: 26.3rem;
      top: 26.1701rem;
      font-family: Poppins, 'Source Sans Pro';
      left: 2.0285rem;
    }
    .taft-ave-malate-manila-SoR {
      line-height: 1.5;
      white-space: nowrap;
      width: 19.9rem;
      left: 2.1478rem;
      top: 28.5618rem;
      font-weight: 600;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      font-size: 1.6rem;
    }
    .occupied-kJK {
      position: absolute;
      left: 5.4rem;
      font-size: 2rem;
      color: #858122;
      height: 3rem;
      top: 31.8rem;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.9rem;
    }
    .mask-group-r6T {
      width: 27.6846rem;
      height: 23.9998rem;
      position: absolute;
      left: 2.0588rem;
      top: 2.3253rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-64-ygs {
      width: 3.2rem;
      height: 3.2rem;
      box-sizing: border-box;
      background-color: #e2dc4f;
      border-radius: 0.5rem;
      position: absolute;
      left: 2rem;
      top: 31.7rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
    }
  }
  .property-14-h75 {
    top: 51.2rem;
    width: 31.9rem;
    height: 42.8rem;
    position: absolute;
    left: 92rem;

    .rectangle-43-phV {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 31.9rem;
      height: 36.8rem;
      position: absolute;
      border: solid 0.5rem rgba(27, 94, 57, 0.8999999762);
      left: 0;
      top: 0;
      box-sizing: border-box;
    }
    .green-residences-K8T {
      width: 26.3rem;
      font-size: 2.4rem;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      height: 3.6rem;
      position: absolute;
      left: 2.0285rem;
      top: 26.1701rem;
      font-weight: 600;
      font-family: Poppins, 'Source Sans Pro';
    }
    .taft-ave-malate-manila-RhH {
      position: absolute;
      left: 2.1478rem;
      color: #000000;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 19.9rem;
      height: 2.4rem;
      top: 28.5618rem;
    }
    .occupied-vtw {
      position: absolute;
      white-space: nowrap;
      width: 9.9rem;
      height: 3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      color: #858122;
      font-family: Poppins, 'Source Sans Pro';
      left: 5.4rem;
      top: 31.8rem;
    }
    .mask-group-3yZ {
      width: 27.6846rem;
      height: 23.9998rem;
      position: absolute;
      left: 2.0588rem;
      top: 2.3253rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-64-z87 {
      background-color: #e2dc4f;
      border-radius: 0.5rem;
      width: 3.2rem;
      position: absolute;
      left: 2rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      height: 3.2rem;
      top: 31.7rem;
      box-sizing: border-box;
    }
  }
  .property-11-HN7 {
    position: absolute;
    left: 56rem;
    top: 10.7rem;
    width: 31.9rem;
    height: 42.8rem;

    .rectangle-43-1Z1 {
      height: 36.8rem;
      position: absolute;
      left: 0;
      border: solid 0.5rem rgba(27, 94, 57, 0.8999999762);
      box-sizing: border-box;
      background-color: #ffffff;
      width: 31.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      top: 0;
    }
    .green-residences-hRq {
      left: 2.0285rem;
      font-weight: 600;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      width: 26.3rem;
      height: 3.6rem;
      position: absolute;
      top: 26.1701rem;
      font-size: 2.4rem;
      line-height: 1.5;
      white-space: nowrap;
    }
    .taft-ave-malate-manila-QLF {
      width: 19.9rem;
      height: 2.4rem;
      left: 2.1478rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 28.5618rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: #000000;
    }
    .occupied-VsV {
      width: 9.9rem;
      height: 3rem;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 5.4rem;
      top: 31.8rem;
      color: #858122;
      white-space: nowrap;
    }
    .mask-group-bvX {
      object-fit: contain;
      vertical-align: top;
      width: 27.6846rem;
      height: 23.9998rem;
      position: absolute;
      left: 2.0588rem;
      top: 2.3253rem;
    }
    .rectangle-64-wUb {
      width: 3.2rem;
      height: 3.2rem;
      left: 2rem;
      box-sizing: border-box;
      background-color: #e2dc4f;
      position: absolute;
      top: 31.7rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
    }
  }
  .property-12-edu {
    top: 11rem;
    width: 31.9rem;
    height: 42.8rem;
    position: absolute;
    left: 92rem;

    .rectangle-43-nEK {
      position: absolute;
      top: 0;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 31.9rem;
      height: 36.8rem;
      left: 0;
      border: solid 0.5rem rgba(27, 94, 57, 0.8999999762);
    }
    .green-residences-t2T {
      height: 3.6rem;
      font-size: 2.4rem;
      color: #000000;
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 26.3rem;
      position: absolute;
      left: 2.0285rem;
      top: 26.1701rem;
    }
    .taft-ave-malate-manila-z5V {
      left: 2.1478rem;
      font-size: 1.6rem;
      line-height: 1.5;
      width: 19.9rem;
      position: absolute;
      top: 28.5618rem;
      font-weight: 600;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
    }
    .occupied-6eK {
      line-height: 1.5;
      color: #858122;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 2rem;
      height: 3rem;
      position: absolute;
      left: 5.4rem;
      top: 31.8rem;
      font-weight: 600;
      white-space: nowrap;
      width: 9.9rem;
    }
    .mask-group-ccf {
      object-fit: contain;
      vertical-align: top;
      width: 27.6846rem;
      height: 23.9998rem;
      position: absolute;
      left: 2.0588rem;
      top: 2.3253rem;
    }
    .rectangle-64-9sV {
      height: 3.2rem;
      position: absolute;
      left: 2rem;
      box-sizing: border-box;
      background-color: #e2dc4f;
      width: 3.2rem;
      top: 31.7rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
    }
  }
  .icon-plus-4Uf {
    height: 7.4rem;
    position: absolute;
    left: 121.7rem;
    top: 90.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 7.5rem;
  }
  .icon-minus-CKy {
    background-position: center;
    background-image: url('REPLACE_IMAGE:2117:156');
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 7.5rem;
    left: 131.2rem;
    top: 90.6rem;
    background-size: cover;
    padding: 3.404rem 1.8rem 3.404rem 1.8rem;
    height: 7.4rem;
    position: absolute;
    background-repeat: no-repeat;

    .rectangle-1-uEP {
      border-radius: 0.1rem;
      width: 100%;
      height: 0.592rem;
      background-color: #00975b;
    }
  }
}
