
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 109.5rem;
}.resource-2-cmm {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  padding: 7.7rem 3.213rem 14.9rem 3.1rem;
  width: 100%;
  position: relative;
  align-items: center;

  .auto-group-fs2j-dRy {
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 5.8929rem;
    width: 100%;
    display: flex;

    .mask-group-MMy {
      margin-right: 1.2128rem;
      width: 16.1872rem;
      height: 12.9071rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .mask-group-s5R {
      flex-shrink: 0;
      margin: 0rem 1.213rem 0rem 0rem;
      width: 16.1871rem;
      height: 12.9071rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
    .mask-group-Bro {
      margin: 0rem 1.213rem 0rem 0rem;
      width: 16.1871rem;
      height: 12.9071rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .mask-group-Huq {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2128rem;
      width: 16.1872rem;
      height: 12.9071rem;
      position: relative;
      object-fit: contain;
    }
    .mask-group-2Md {
      height: 12.9071rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.2128rem;
      width: 16.1872rem;
    }
    .mask-group-MPu {
      vertical-align: top;
      flex-shrink: 0;
      width: 16.1872rem;
      height: 12.9071rem;
      position: relative;
      object-fit: contain;
    }
  }
  .auto-group-vkck-5ao {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 4.9872rem;
    width: calc(100% - 4.9872rem);
    height: 31.5rem;

    .image-17-zBy {
      width: 31.5rem;
      height: 31.5rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-9fap-71h {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 3.3rem;

      .image-13-qiP {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 3.3rem;
        width: 29.9rem;
        height: 22.4rem;
        object-fit: cover;
      }
      .image-16-BGT {
        height: 27.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 30.2rem;
      }
    }
  }
  .auto-group-ozit-W3q {
    flex-shrink: 0;
    margin: 0rem 5.787rem 0rem 7.6rem;
    width: calc(100% - 13.3872rem);
    display: flex;
    align-items: flex-start;

    .image-20-d8T {
      vertical-align: top;
      flex-shrink: 0;
      margin: 5.9rem 9.5rem 0rem 0rem;
      width: 57.1rem;
      height: 37.2rem;
      object-fit: cover;
    }
    .image-18-YmD {
      vertical-align: top;
      flex-shrink: 0;
      width: 23.2rem;
      height: 34.7rem;
      object-fit: cover;
    }
  }
}
