
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.signup-FUB {
  height: 90rem;
  position: relative;
  overflow: hidden;
  background-color: #0e6843;
  width: 100%;

  .group-2-Bsd {
    vertical-align: top;
    width: 191.7rem;
    height: 133.5377rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
  }
  .twenty25-vaK {
    line-height: 1.5;
    height: 7.5rem;
    top: 1.2rem;
    font-size: 5rem;
    font-weight: 700;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 25.6rem;
    position: absolute;
    left: 3.7rem;
    font-style: italic;
  }
  .signup-cCF {
    width: 23.2rem;
    position: absolute;
    color: #a4d579;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 9.6rem;
    left: 60.4rem;
    top: 17.2rem;
  }
  .rectangle-65-791 {
    width: 50.1rem;
    height: 9.6rem;
    position: absolute;
    left: 46.9rem;
    top: 28.4rem;
    background: linear-gradient(91.73deg, rgba(0, 73, 44, 0.8700000048) 148.72%, #000000 188.97%);
  }
  .rectangle-67-Qto {
    background: linear-gradient(91.69deg, #000000 169.62%, rgba(0, 73, 44, 0.8700000048) 190.34%);
    width: 50.1rem;
    height: 9.7rem;
    position: absolute;
    left: 47rem;
    top: 39.6rem;
  }
  .rectangle-70-vMM {
    width: 50.1rem;
    height: 9.6rem;
    position: absolute;
    left: 46.9rem;
    top: 51.9rem;
    background: linear-gradient(271.73deg, rgba(0, 73, 44, 0.8700000048) 148.72%, #000000 188.97%);
  }
  .rectangle-71-cjy {
    left: 47rem;
    top: 63.1rem;
    background: linear-gradient(91.69deg, #000000 169.62%, rgba(0, 73, 44, 0.8700000048) 190.34%);
    width: 50.1rem;
    height: 9.7rem;
    position: absolute;
  }
  .full-name-j3u {
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    width: 15.1rem;
    height: 4.5rem;
    left: 50.7rem;
    top: 30.8rem;
    font-size: 3rem;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    white-space: nowrap;
  }
  .email-eAs {
    line-height: 1.5;
    color: #ffffff;
    width: 8.4rem;
    position: absolute;
    left: 50.7rem;
    font-weight: 500;
    white-space: nowrap;
    height: 4.5rem;
    top: 42rem;
    font-size: 3rem;
    font-family: Poppins, 'Source Sans Pro';
  }
  .password-xST {
    height: 4.5rem;
    left: 50.7rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.6rem;
    position: absolute;
    top: 54.3rem;
    font-size: 3rem;
    font-weight: 500;
  }
  .confirm-password-sJX {
    height: 4.5rem;
    position: absolute;
    left: 50.7rem;
    font-weight: 500;
    line-height: 1.5;
    width: 27.7rem;
    top: 65.5rem;
    font-size: 3rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
}
