
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.property-summary-dashboard-4Qo {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f3fff4;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM {
  margin-bottom: 221.117rem;
  width: 249.3rem;
  height: 264.383rem;
  position: relative;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .bg-gBH {
  opacity: 0.2;
  width: 249.3rem;
  height: 264.383rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .header-bJF {
  width: 144rem;
  height: 9.1rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background: linear-gradient(292.9deg, #048853 99.02%, rgba(0, 0, 0, 0.8399999738) 265.36%);
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .twenty25-t2T {
  width: 25.6rem;
  height: 7.5rem;
  position: absolute;
  left: 3.3rem;
  top: 0.8rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.5;
  font-style: italic;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .sign-out-Akf {
  width: 12.8rem;
  height: 4.5rem;
  position: absolute;
  left: 127.1rem;
  top: 2.3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .view-all-properties-UWT {
  width: 27.7rem;
  height: 4.5rem;
  position: absolute;
  left: 96.3rem;
  top: 2.3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .revenue-tracker-yCK {
  box-sizing: border-box;
  padding: 3.933rem 22.277rem 9.699rem 21.823rem;
  width: 57.4rem;
  height: 37rem;
  position: absolute;
  left: 43.2rem;
  top: 45rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .revenue-tracker-yCK .auto-group-tqbu-e3Z {
  margin: 0rem 1.804rem 3.931rem 2.409rem;
  box-sizing: border-box;
  padding: 0.583rem 0rem 0.731rem 0rem;
  width: calc(100% - 4.2129rem);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-hsM.png');
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .revenue-tracker-yCK .auto-group-tqbu-e3Z .town-1-7xj {
  width: 9.0871rem;
  height: 7.2835rem;
  object-fit: cover;
  vertical-align: top;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .revenue-tracker-yCK .revenue-cPh {
  margin-bottom: 4.2402rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #00975b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .revenue-tracker-yCK .item-999999999-KJ7 {
  margin-left: 3.029rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .net-profit-tracker-B5R {
  box-sizing: border-box;
  padding: 3.487rem 21.45rem 7.456rem 21.45rem;
  width: 57.6rem;
  height: 32.8rem;
  position: absolute;
  left: 43.2rem;
  top: 9.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .net-profit-tracker-B5R .auto-group-pxax-pu5 {
  margin: 0rem 3.323rem 3.357rem 2.107rem;
  width: calc(100% - 5.4292rem);
  height: 7.748rem;
  position: relative;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .net-profit-tracker-B5R .auto-group-pxax-pu5 .ellipse-1-LsR {
  width: 9.2707rem;
  height: 7.748rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .net-profit-tracker-B5R .auto-group-pxax-pu5 .assets-1-gwH {
  width: 8.9668rem;
  height: 6.1984rem;
  position: absolute;
  left: 0.3041rem;
  top: 0.7748rem;
  object-fit: cover;
  vertical-align: top;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .net-profit-tracker-B5R .net-profit-QcP {
  margin-bottom: 4.152rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #00975b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .net-profit-tracker-B5R .item-100000000-LW3 {
  margin-right: 1.0639rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-1cB {
  box-sizing: border-box;
  padding: 2.657rem 2.75rem 6.463rem 2.65rem;
  width: 38rem;
  height: 25rem;
  position: absolute;
  left: 3.1rem;
  top: 9.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-1cB .auto-group-eqek-JLP {
  margin: 0rem 11.688rem 2.559rem 14.896rem;
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 0.501rem;
  width: calc(100% - 26.5842rem);
  height: 5.9055rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-Ecw.png');
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-1cB .auto-group-eqek-JLP .house-1-bqH {
  width: 5.5145rem;
  height: 5.4134rem;
  object-fit: cover;
  vertical-align: top;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-1cB .maintenance-tracker-KmH {
  margin-bottom: 0.815rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #00975b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-1cB .description-add-here-T6o {
  margin-left: 0.0001rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-k5u {
  box-sizing: border-box;
  padding: 2.657rem 8.25rem 6.463rem 8.15rem;
  width: 38rem;
  height: 25rem;
  position: absolute;
  left: 103.9rem;
  top: 9.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-k5u .auto-group-mwxf-F2f {
  margin: 0rem 6.188rem 2.559rem 9.396rem;
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 0.501rem;
  width: calc(100% - 15.5842rem);
  height: 5.9055rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1.png');
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-k5u .auto-group-mwxf-F2f .house-1-KoD {
  width: 5.5145rem;
  height: 5.4134rem;
  object-fit: cover;
  vertical-align: top;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-k5u .billing-tracker-3UK {
  margin-bottom: 0.815rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #00975b;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .maintenance-tracker-k5u .description-add-here-NFh {
  margin-right: 0rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .rectangle-88-rRm {
  width: 38rem;
  height: 45.6rem;
  position: absolute;
  left: 103.9rem;
  top: 36.4rem;
  background-color: #ffffff;
}
.property-summary-dashboard-4Qo .auto-group-uzsb-ZsM .rectangle-89-PRh {
  width: 38rem;
  height: 45.6rem;
  position: absolute;
  left: 2.1rem;
  top: 36.7rem;
  background-color: #ffffff;
}
.property-summary-dashboard-4Qo .mask-group-iD5 {
  width: 136.6rem;
  height: 73.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
