
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.registration-R1Z {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .group-3-XKV {
    height: 144.4377rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-end;
    opacity: 0.9;
    width: 199rem;

    .bg-Rvf {
      height: 86.0377rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 8.8959rem;
      width: 84.9041rem;
    }
    .vector-mjd {
      flex-shrink: 0;
      margin-bottom: 54.4377rem;
      width: 105.2rem;
      height: 90rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .full-name-uaw {
    width: 50.1rem;
    top: 24.9rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    background: linear-gradient(90.61deg, rgba(187, 191, 202, 0.8700000048) 149.81%, #e8e8e8 189.14%, #e8e8e8 200.85%);
    box-sizing: border-box;
    padding: 3rem 4.9rem 2.7rem 4.9rem;
    left: 46.9rem;
    font-size: 3rem;
    white-space: nowrap;
    height: 10.2rem;
    position: absolute;
    color: #000000;
  }
  .email-vkw {
    position: absolute;
    top: 37.8rem;
    line-height: 1.5;
    color: #000000;
    white-space: nowrap;
    width: 50.1rem;
    font-size: 3rem;
    background: linear-gradient(90.61deg, rgba(187, 191, 202, 0.8700000048) 149.81%, #e8e8e8 189.14%, #e8e8e8 200.85%);
    padding: 3rem 4.9rem 2.7rem 4.9rem;
    height: 10.2rem;
    left: 47.1rem;
    font-family: Poppins, 'Source Sans Pro';
    box-sizing: border-box;
    font-weight: 500;
  }
  .password-97u {
    font-family: Poppins, 'Source Sans Pro';
    background: linear-gradient(90.61deg, rgba(187, 191, 202, 0.8700000048) 149.81%, #e8e8e8 189.14%, #e8e8e8 200.85%);
    position: absolute;
    font-size: 3rem;
    line-height: 1.5;
    white-space: nowrap;
    width: 50.1rem;
    height: 10.2rem;
    top: 50.7rem;
    font-weight: 500;
    box-sizing: border-box;
    padding: 3rem 4.9rem 2.7rem 4.9rem;
    left: 47.2rem;
    color: #000000;
  }
  .confirm-password-NWT {
    font-family: Poppins, 'Source Sans Pro';
    left: 47.2rem;
    top: 63.6rem;
    font-weight: 500;
    font-size: 3rem;
    white-space: nowrap;
    background: linear-gradient(90.61deg, rgba(187, 191, 202, 0.8700000048) 149.81%, #e8e8e8 189.14%, #e8e8e8 200.85%);
    box-sizing: border-box;
    padding: 3rem 4.9rem 2.7rem 4.9rem;
    width: 50.1rem;
    color: #000000;
    height: 10.2rem;
    position: absolute;
    line-height: 1.5;
  }
  .twenty25-o5y {
    font-weight: 700;
    width: 27.4rem;
    height: 7.2rem;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    top: 1.9rem;
    justify-content: center;
    white-space: nowrap;
    left: 1.3rem;
    align-items: center;
    line-height: 1.5;
    font-size: 4.8rem;
    color: #000000;
  }
  .already-have-an-account-sign-in-655 {
    top: 74.9rem;
    font-weight: 500;
    line-height: 1.5;
    height: 2.6rem;
    position: absolute;
    color: #000000;
    white-space: nowrap;
    width: 28.5rem;
    display: flex;
    align-items: baseline;
    left: 57.95rem;
    text-align: center;
    font-size: 1.7rem;
    font-family: Poppins, 'Source Sans Pro';

    .already-have-an-account-sign-in-655-sub-0 {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
    .already-have-an-account-sign-in-655-sub-1 {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.5;
      text-decoration-line: underline;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
}
