
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.properties-page-2fh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f3fff4;
}
.properties-page-2fh .auto-group-3wtq-aSK {
  margin-bottom: 221.117rem;
  width: 249.3rem;
  height: 264.383rem;
  position: relative;
  flex-shrink: 0;
}
.properties-page-2fh .auto-group-3wtq-aSK .bg-tC7 {
  opacity: 0.2;
  width: 249.3rem;
  height: 264.383rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 4.1rem;
  top: 24rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX .rectangle-43-Xks {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX .green-residences-oTV {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX .taft-ave-malate-manila-siF {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX .occupied-MtK {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX .mask-group-4nj {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-9-1nX .rectangle-64-zwH {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 108.1rem;
  top: 24rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ .rectangle-43-zZu {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ .green-residences-6N3 {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ .taft-ave-malate-manila-nVm {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ .occupied-HBd {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ .mask-group-neB {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-10-UbZ .rectangle-64-Wq5 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 38.8rem;
  top: 24.1rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT .rectangle-43-97M {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT .green-residences-qVy {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT .taft-ave-malate-manila-wJ7 {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT .not-occupied-quH {
  width: 13.9rem;
  height: 3rem;
  position: absolute;
  left: 5.7rem;
  top: 31.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3fd15f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT .mask-group-Msd {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-11-QvT .rectangle-64-UxF {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #3fd15f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 73.5rem;
  top: 24rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf .rectangle-43-WP9 {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf .green-residences-aP1 {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf .taft-ave-malate-manila-sN7 {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf .occupied-needs-attention-miP {
  width: 24.3rem;
  height: 2.7rem;
  position: absolute;
  left: 5.5rem;
  top: 31.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e24f4f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf .mask-group-t2K {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-12-Brf .rectangle-64-cU7 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e24f4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 4.1rem;
  top: 63.1rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs .rectangle-43-ST9 {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs .green-residences-gVu {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs .taft-ave-malate-manila-Zpb {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs .occupied-sKV {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs .mask-group-Zy1 {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-13-7Qs .rectangle-64-Vbm {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 108.1rem;
  top: 63.1rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 .rectangle-43-7d9 {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 .green-residences-zgw {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 .taft-ave-malate-manila-t1d {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 .occupied-NSb {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 .mask-group-UEj {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-14-Ph9 .rectangle-64-oH1 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 38.8rem;
  top: 63.2rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM .rectangle-43-Qnb {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM .green-residences-h11 {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM .taft-ave-malate-manila-zVu {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM .not-occupied-Hzo {
  width: 13.9rem;
  height: 3rem;
  position: absolute;
  left: 5.7rem;
  top: 31.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3fd15f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM .mask-group-zeK {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-15-tZM .rectangle-64-Kgb {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #3fd15f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 73.5rem;
  top: 63.1rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 .rectangle-43-vAb {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 .green-residences-2UX {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 .taft-ave-malate-manila-is9 {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 .occupied-needs-attention-2N3 {
  width: 24.3rem;
  height: 2.7rem;
  position: absolute;
  left: 5.5rem;
  top: 31.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e24f4f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 .mask-group-7uH {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-16-bu1 .rectangle-64-euD {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e24f4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 4.1rem;
  top: 102.7rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb .rectangle-43-5Dq {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb .green-residences-yq1 {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb .taft-ave-malate-manila-Hqh {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb .occupied-Pdq {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb .mask-group-WTZ {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-17-Yzb .rectangle-64-3Cb {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 108.1rem;
  top: 102.7rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs .rectangle-43-UHu {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs .green-residences-yVZ {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs .taft-ave-malate-manila-GzT {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs .occupied-P3V {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs .mask-group-HuZ {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-18-wYs .rectangle-64-p8o {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 38.8rem;
  top: 102.8rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK .rectangle-43-ReP {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK .green-residences-XSX {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK .taft-ave-malate-manila-DaF {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK .not-occupied-vjZ {
  width: 13.9rem;
  height: 3rem;
  position: absolute;
  left: 5.7rem;
  top: 31.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3fd15f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK .mask-group-F19 {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-19-WnK .rectangle-64-yC3 {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #3fd15f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 73.5rem;
  top: 102.7rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd .rectangle-43-R43 {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd .green-residences-7Sf {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd .taft-ave-malate-manila-pby {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd .occupied-needs-attention-8cf {
  width: 24.3rem;
  height: 2.7rem;
  position: absolute;
  left: 5.5rem;
  top: 31.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e24f4f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd .mask-group-EQo {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-20-HTd .rectangle-64-N1D {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e24f4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 4.1rem;
  top: 141.8rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif .rectangle-43-nqd {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif .green-residences-JJB {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif .taft-ave-malate-manila-Qc7 {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif .occupied-v4f {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif .mask-group-ELF {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-21-sif .rectangle-64-NBZ {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT {
  width: 31.9rem;
  height: 42.8rem;
  position: absolute;
  left: 108.1rem;
  top: 141.8rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT .rectangle-43-zij {
  width: 31.9rem;
  height: 36.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT .green-residences-6mm {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT .taft-ave-malate-manila-DLb {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT .occupied-uz7 {
  width: 9.9rem;
  height: 3rem;
  position: absolute;
  left: 5.4rem;
  top: 31.9rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858122;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT .mask-group-qMy {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-22-fgT .rectangle-64-xhV {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e2dc4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 38.8rem;
  top: 141.9rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 .rectangle-43-B4T {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 .green-residences-UJT {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 .taft-ave-malate-manila-Yp7 {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 .not-occupied-SPh {
  width: 13.9rem;
  height: 3rem;
  position: absolute;
  left: 5.7rem;
  top: 31.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3fd15f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 .mask-group-jtb {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-23-fM1 .rectangle-64-4vs {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #3fd15f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq {
  width: 31.8589rem;
  height: 42.8rem;
  position: absolute;
  left: 73.5rem;
  top: 141.8rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq .rectangle-43-mio {
  width: 31.8589rem;
  height: 36.7249rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.5rem #048853;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq .green-residences-4xo {
  width: 26.3rem;
  height: 3.6rem;
  position: absolute;
  left: 2.0285rem;
  top: 26.1701rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq .taft-ave-malate-manila-PEP {
  width: 19.9rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1478rem;
  top: 28.5618rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq .occupied-needs-attention-uCj {
  width: 24.3rem;
  height: 2.7rem;
  position: absolute;
  left: 5.5rem;
  top: 31.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e24f4f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq .mask-group-pKh {
  width: 27.6846rem;
  height: 23.9998rem;
  position: absolute;
  left: 2.0588rem;
  top: 2.3253rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .property-24-rbq .rectangle-64-LYw {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 2rem;
  top: 31.7rem;
  border: solid 0.1rem rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  background-color: #e24f4f;
  border-radius: 0.5rem;
}
.properties-page-2fh .auto-group-3wtq-aSK .properties-qVh {
  width: 59.3rem;
  height: 15rem;
  position: absolute;
  left: 42.4rem;
  top: 9.1rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .header-9FV {
  width: 144rem;
  height: 9.1rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background: linear-gradient(292.9deg, #048853 99.02%, rgba(0, 0, 0, 0.8399999738) 265.36%);
}
.properties-page-2fh .auto-group-3wtq-aSK .twenty25-dRZ {
  width: 25.6rem;
  height: 7.5rem;
  position: absolute;
  left: 3.3rem;
  top: 0.8rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.5;
  font-style: italic;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .sign-out-jzP {
  width: 12.8rem;
  height: 4.5rem;
  position: absolute;
  left: 127.1rem;
  top: 2.3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .icon-plus-Sdu {
  width: 7.5rem;
  height: 7.4rem;
  position: absolute;
  left: 133.9rem;
  top: 10.9rem;
  object-fit: contain;
  vertical-align: top;
}
.properties-page-2fh .auto-group-3wtq-aSK .view-trackers-NnT {
  width: 21rem;
  height: 4.5rem;
  position: absolute;
  left: 102.2rem;
  top: 2.3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .auto-group-3wtq-aSK .remove-property-5gs {
  width: 25.9rem;
  height: 4.5rem;
  position: absolute;
  left: 73.1rem;
  top: 2.3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.properties-page-2fh .mask-group-nbH {
  width: 136.6rem;
  height: 73.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
