<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Properties Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/properties-page.css"/>
</head>
<body>
<div class="properties-page-2fh">
  <div class="auto-group-3wtq-aSK">
    <img class="bg-tC7" src="./assets/bg-ywu.png"/>
    <div class="property-9-1nX">
      <div class="rectangle-43-Xks">
      </div>
      <p class="green-residences-oTV">301 Green Residences</p>
      <p class="taft-ave-malate-manila-siF">Taft Ave., Malate, Manila</p>
      <p class="occupied-MtK">Occupied</p>
      <img class="mask-group-4nj" src="./assets/mask-group-dt3.png"/>
      <div class="rectangle-64-zwH">
      </div>
    </div>
    <div class="property-10-UbZ">
      <div class="rectangle-43-zZu">
      </div>
      <p class="green-residences-6N3">301 Green Residences</p>
      <p class="taft-ave-malate-manila-nVm">Taft Ave., Malate, Manila</p>
      <p class="occupied-HBd">Occupied</p>
      <img class="mask-group-neB" src="./assets/mask-group-ZFd.png"/>
      <div class="rectangle-64-Wq5">
      </div>
    </div>
    <div class="property-11-QvT">
      <div class="rectangle-43-97M">
      </div>
      <p class="green-residences-qVy">301 Green Residences</p>
      <p class="taft-ave-malate-manila-wJ7">Taft Ave., Malate, Manila</p>
      <p class="not-occupied-quH">Not Occupied</p>
      <img class="mask-group-Msd" src="./assets/mask-group-zMu.png"/>
      <div class="rectangle-64-UxF">
      </div>
    </div>
    <div class="property-12-Brf">
      <div class="rectangle-43-WP9">
      </div>
      <p class="green-residences-aP1">301 Green Residences</p>
      <p class="taft-ave-malate-manila-sN7">Taft Ave., Malate, Manila</p>
      <p class="occupied-needs-attention-miP">Occupied, needs attention</p>
      <img class="mask-group-t2K" src="./assets/mask-group-JJB.png"/>
      <div class="rectangle-64-cU7">
      </div>
    </div>
    <div class="property-13-7Qs">
      <div class="rectangle-43-ST9">
      </div>
      <p class="green-residences-gVu">301 Green Residences</p>
      <p class="taft-ave-malate-manila-Zpb">Taft Ave., Malate, Manila</p>
      <p class="occupied-sKV">Occupied</p>
      <img class="mask-group-Zy1" src="./assets/mask-group-QzB.png"/>
      <div class="rectangle-64-Vbm">
      </div>
    </div>
    <div class="property-14-Ph9">
      <div class="rectangle-43-7d9">
      </div>
      <p class="green-residences-zgw">301 Green Residences</p>
      <p class="taft-ave-malate-manila-t1d">Taft Ave., Malate, Manila</p>
      <p class="occupied-NSb">Occupied</p>
      <img class="mask-group-UEj" src="./assets/mask-group-gPH.png"/>
      <div class="rectangle-64-oH1">
      </div>
    </div>
    <div class="property-15-tZM">
      <div class="rectangle-43-Qnb">
      </div>
      <p class="green-residences-h11">301 Green Residences</p>
      <p class="taft-ave-malate-manila-zVu">Taft Ave., Malate, Manila</p>
      <p class="not-occupied-Hzo">Not Occupied</p>
      <img class="mask-group-zeK" src="./assets/mask-group-2NT.png"/>
      <div class="rectangle-64-Kgb">
      </div>
    </div>
    <div class="property-16-bu1">
      <div class="rectangle-43-vAb">
      </div>
      <p class="green-residences-2UX">301 Green Residences</p>
      <p class="taft-ave-malate-manila-is9">Taft Ave., Malate, Manila</p>
      <p class="occupied-needs-attention-2N3">Occupied, needs attention</p>
      <img class="mask-group-7uH" src="./assets/mask-group-AjZ.png"/>
      <div class="rectangle-64-euD">
      </div>
    </div>
    <div class="property-17-Yzb">
      <div class="rectangle-43-5Dq">
      </div>
      <p class="green-residences-yq1">301 Green Residences</p>
      <p class="taft-ave-malate-manila-Hqh">Taft Ave., Malate, Manila</p>
      <p class="occupied-Pdq">Occupied</p>
      <img class="mask-group-WTZ" src="./assets/mask-group-TSX.png"/>
      <div class="rectangle-64-3Cb">
      </div>
    </div>
    <div class="property-18-wYs">
      <div class="rectangle-43-UHu">
      </div>
      <p class="green-residences-yVZ">301 Green Residences</p>
      <p class="taft-ave-malate-manila-GzT">Taft Ave., Malate, Manila</p>
      <p class="occupied-P3V">Occupied</p>
      <img class="mask-group-HuZ" src="./assets/mask-group-zUo.png"/>
      <div class="rectangle-64-p8o">
      </div>
    </div>
    <div class="property-19-WnK">
      <div class="rectangle-43-ReP">
      </div>
      <p class="green-residences-XSX">301 Green Residences</p>
      <p class="taft-ave-malate-manila-DaF">Taft Ave., Malate, Manila</p>
      <p class="not-occupied-vjZ">Not Occupied</p>
      <img class="mask-group-F19" src="./assets/mask-group-YmV.png"/>
      <div class="rectangle-64-yC3">
      </div>
    </div>
    <div class="property-20-HTd">
      <div class="rectangle-43-R43">
      </div>
      <p class="green-residences-7Sf">301 Green Residences</p>
      <p class="taft-ave-malate-manila-pby">Taft Ave., Malate, Manila</p>
      <p class="occupied-needs-attention-8cf">Occupied, needs attention</p>
      <img class="mask-group-EQo" src="./assets/mask-group-85V.png"/>
      <div class="rectangle-64-N1D">
      </div>
    </div>
    <div class="property-21-sif">
      <div class="rectangle-43-nqd">
      </div>
      <p class="green-residences-JJB">301 Green Residences</p>
      <p class="taft-ave-malate-manila-Qc7">Taft Ave., Malate, Manila</p>
      <p class="occupied-v4f">Occupied</p>
      <img class="mask-group-ELF" src="./assets/mask-group-5bd.png"/>
      <div class="rectangle-64-NBZ">
      </div>
    </div>
    <div class="property-22-fgT">
      <div class="rectangle-43-zij">
      </div>
      <p class="green-residences-6mm">301 Green Residences</p>
      <p class="taft-ave-malate-manila-DLb">Taft Ave., Malate, Manila</p>
      <p class="occupied-uz7">Occupied</p>
      <img class="mask-group-qMy" src="./assets/mask-group-cN3.png"/>
      <div class="rectangle-64-xhV">
      </div>
    </div>
    <div class="property-23-fM1">
      <div class="rectangle-43-B4T">
      </div>
      <p class="green-residences-UJT">301 Green Residences</p>
      <p class="taft-ave-malate-manila-Yp7">Taft Ave., Malate, Manila</p>
      <p class="not-occupied-SPh">Not Occupied</p>
      <img class="mask-group-jtb" src="./assets/mask-group-XFm.png"/>
      <div class="rectangle-64-4vs">
      </div>
    </div>
    <div class="property-24-rbq">
      <div class="rectangle-43-mio">
      </div>
      <p class="green-residences-4xo">301 Green Residences</p>
      <p class="taft-ave-malate-manila-PEP">Taft Ave., Malate, Manila</p>
      <p class="occupied-needs-attention-uCj">Occupied, needs attention</p>
      <img class="mask-group-pKh" src="./assets/mask-group-GaK.png"/>
      <div class="rectangle-64-LYw">
      </div>
    </div>
    <p class="properties-qVh">PROPERTIES</p>
    <div class="header-9FV">
    </div>
    <p class="twenty25-dRZ">twenty25.</p>
    <p class="sign-out-jzP">Sign Out</p>
    <img class="icon-plus-Sdu" src="./assets/icon-plus.png"/>
    <p class="view-trackers-NnT">View Trackers</p>
    <p class="remove-property-5gs">Remove Property</p>
  </div>
  <img class="mask-group-nbH" src="./assets/mask-group-R1Z.png"/>
</div>
</body>