
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.properties-page-2fh {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f3fff4;

  .auto-group-3wtq-aSK {
    flex-shrink: 0;
    margin-bottom: 221.117rem;
    width: 249.3rem;
    height: 264.383rem;
    position: relative;

    .bg-tC7 {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      opacity: 0.2;
      width: 249.3rem;
      height: 264.383rem;
      position: absolute;
      left: 0;
    }
    .property-9-1nX {
      left: 4.1rem;
      top: 24rem;
      width: 31.9rem;
      height: 42.8rem;
      position: absolute;

      .rectangle-43-Xks {
        background-color: #ffffff;
        width: 31.9rem;
        height: 36.8rem;
        position: absolute;
        top: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        left: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
      }
      .green-residences-oTV {
        font-weight: 600;
        width: 26.3rem;
        height: 3.6rem;
        position: absolute;
        left: 2.0285rem;
        font-size: 2.4rem;
        top: 26.1701rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .taft-ave-malate-manila-siF {
        position: absolute;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        width: 19.9rem;
        height: 2.4rem;
        left: 2.1478rem;
        top: 28.5618rem;
        font-size: 1.6rem;
      }
      .occupied-MtK {
        left: 5.4rem;
        height: 3rem;
        position: absolute;
        top: 31.8rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #858122;
        width: 9.9rem;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
      }
      .mask-group-4nj {
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
      }
      .rectangle-64-zwH {
        width: 3.2rem;
        left: 2rem;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        height: 3.2rem;
        position: absolute;
        box-sizing: border-box;
        background-color: #e2dc4f;
        border-radius: 0.5rem;
      }
    }
    .property-10-UbZ {
      position: absolute;
      left: 108.1rem;
      top: 24rem;
      width: 31.9rem;
      height: 42.8rem;

      .rectangle-43-zZu {
        height: 36.8rem;
        left: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        width: 31.9rem;
        position: absolute;
        top: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
      }
      .green-residences-6N3 {
        height: 3.6rem;
        top: 26.1701rem;
        font-size: 2.4rem;
        white-space: nowrap;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 26.3rem;
        position: absolute;
        left: 2.0285rem;
        font-weight: 600;
      }
      .taft-ave-malate-manila-nVm {
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        top: 28.5618rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.9rem;
        left: 2.1478rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: #000000;
      }
      .occupied-HBd {
        left: 5.4rem;
        font-size: 2rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.9rem;
        height: 3rem;
        font-weight: 600;
        color: #858122;
        position: absolute;
        top: 31.9rem;
      }
      .mask-group-neB {
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
      }
      .rectangle-64-Wq5 {
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        height: 3.2rem;
        position: absolute;
        background-color: #e2dc4f;
        border-radius: 0.5rem;
        width: 3.2rem;
        left: 2rem;
      }
    }
    .property-11-QvT {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 38.8rem;
      top: 24.1rem;

      .rectangle-43-97M {
        position: absolute;
        top: 0;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 31.8589rem;
        height: 36.7249rem;
        left: 0;
        border: solid 0.5rem #048853;
      }
      .green-residences-qVy {
        top: 26.1701rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        width: 26.3rem;
        height: 3.6rem;
        position: absolute;
        left: 2.0285rem;
        font-size: 2.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .taft-ave-malate-manila-wJ7 {
        font-family: Poppins, 'Source Sans Pro';
        width: 19.9rem;
        height: 2.4rem;
        position: absolute;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        left: 2.1478rem;
        top: 28.5618rem;
        font-size: 1.6rem;
        white-space: nowrap;
      }
      .not-occupied-quH {
        width: 13.9rem;
        top: 31.7rem;
        font-size: 2rem;
        font-weight: 600;
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        left: 5.7rem;
        line-height: 1.5;
        color: #3fd15f;
        font-family: Poppins, 'Source Sans Pro';
      }
      .mask-group-Msd {
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-64-UxF {
        left: 2rem;
        box-sizing: border-box;
        background-color: #3fd15f;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
      }
    }
    .property-12-Brf {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 73.5rem;
      top: 24rem;

      .rectangle-43-WP9 {
        height: 36.7249rem;
        left: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 31.8589rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        position: absolute;
      }
      .green-residences-aP1 {
        left: 2.0285rem;
        top: 26.1701rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 26.3rem;
        height: 3.6rem;
        position: absolute;
        font-size: 2.4rem;
      }
      .taft-ave-malate-manila-sN7 {
        position: absolute;
        top: 28.5618rem;
        font-size: 1.6rem;
        font-weight: 600;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.9rem;
        height: 2.4rem;
        left: 2.1478rem;
        line-height: 1.5;
        color: #000000;
      }
      .occupied-needs-attention-miP {
        white-space: nowrap;
        width: 24.3rem;
        left: 5.5rem;
        color: #e24f4f;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 600;
        line-height: 1.5;
        height: 2.7rem;
        position: absolute;
        top: 31.7rem;
        font-size: 1.8rem;
      }
      .mask-group-t2K {
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
      }
      .rectangle-64-cU7 {
        left: 2rem;
        box-sizing: border-box;
        background-color: #e24f4f;
        border-radius: 0.5rem;
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
      }
    }
    .property-13-7Qs {
      height: 42.8rem;
      position: absolute;
      left: 4.1rem;
      top: 63.1rem;
      width: 31.9rem;

      .rectangle-43-ST9 {
        height: 36.8rem;
        position: absolute;
        left: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 31.9rem;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
      }
      .green-residences-gVu {
        position: absolute;
        left: 2.0285rem;
        font-size: 2.4rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.6rem;
        top: 26.1701rem;
        line-height: 1.5;
        color: #000000;
        width: 26.3rem;
      }
      .taft-ave-malate-manila-Zpb {
        line-height: 1.5;
        width: 19.9rem;
        height: 2.4rem;
        position: absolute;
        left: 2.1478rem;
        top: 28.5618rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
      }
      .occupied-sKV {
        left: 5.4rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 9.9rem;
        position: absolute;
        top: 31.8rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #858122;
        white-space: nowrap;
        height: 3rem;
      }
      .mask-group-Zy1 {
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-64-Vbm {
        height: 3.2rem;
        left: 2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 3.2rem;
        position: absolute;
        top: 31.7rem;
        background-color: #e2dc4f;
      }
    }
    .property-14-Ph9 {
      width: 31.9rem;
      height: 42.8rem;
      position: absolute;
      left: 108.1rem;
      top: 63.1rem;

      .rectangle-43-7d9 {
        background-color: #ffffff;
        width: 31.9rem;
        left: 0;
        top: 0;
        box-sizing: border-box;
        border-radius: 0.5rem;
        height: 36.8rem;
        position: absolute;
        border: solid 0.5rem #048853;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .green-residences-zgw {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.6rem;
        position: absolute;
        left: 2.0285rem;
        font-size: 2.4rem;
        font-weight: 600;
        width: 26.3rem;
        top: 26.1701rem;
        line-height: 1.5;
        color: #000000;
      }
      .taft-ave-malate-manila-t1d {
        height: 2.4rem;
        position: absolute;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.9rem;
        top: 28.5618rem;
        color: #000000;
        left: 2.1478rem;
      }
      .occupied-NSb {
        color: #858122;
        width: 9.9rem;
        position: absolute;
        left: 5.4rem;
        top: 31.9rem;
        font-weight: 600;
        line-height: 1.5;
        height: 3rem;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mask-group-UEj {
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-64-oH1 {
        background-color: #e2dc4f;
        border-radius: 0.5rem;
        height: 3.2rem;
        position: absolute;
        left: 2rem;
        box-sizing: border-box;
        width: 3.2rem;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
      }
    }
    .property-15-tZM {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 38.8rem;
      top: 63.2rem;

      .rectangle-43-Qnb {
        width: 31.8589rem;
        height: 36.7249rem;
        left: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 0;
        background-color: #ffffff;
        border-radius: 0.5rem;
      }
      .green-residences-h11 {
        font-family: Poppins, 'Source Sans Pro';
        width: 26.3rem;
        position: absolute;
        top: 26.1701rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        height: 3.6rem;
        left: 2.0285rem;
        font-size: 2.4rem;
        white-space: nowrap;
      }
      .taft-ave-malate-manila-zVu {
        left: 2.1478rem;
        top: 28.5618rem;
        font-size: 1.6rem;
        line-height: 1.5;
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        font-weight: 600;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.9rem;
      }
      .not-occupied-Hzo {
        height: 3rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.9rem;
        top: 31.7rem;
        color: #3fd15f;
        left: 5.7rem;
      }
      .mask-group-zeK {
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
      }
      .rectangle-64-Kgb {
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        position: absolute;
        left: 2rem;
        box-sizing: border-box;
        background-color: #3fd15f;
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    .property-16-bu1 {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 73.5rem;
      top: 63.1rem;

      .rectangle-43-vAb {
        height: 36.7249rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 31.8589rem;
        left: 0;
        top: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        position: absolute;
      }
      .green-residences-2UX {
        width: 26.3rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 600;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        height: 3.6rem;
        left: 2.0285rem;
        top: 26.1701rem;
        line-height: 1.5;
        white-space: nowrap;
      }
      .taft-ave-malate-manila-is9 {
        white-space: nowrap;
        position: absolute;
        left: 2.1478rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.5;
        color: #000000;
        width: 19.9rem;
        height: 2.4rem;
        top: 28.5618rem;
        font-size: 1.6rem;
      }
      .occupied-needs-attention-2N3 {
        font-family: Poppins, 'Source Sans Pro';
        width: 24.3rem;
        height: 2.7rem;
        position: absolute;
        left: 5.5rem;
        top: 31.7rem;
        color: #e24f4f;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
      }
      .mask-group-7uH {
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
      }
      .rectangle-64-euD {
        position: absolute;
        top: 31.7rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 3.2rem;
        height: 3.2rem;
        left: 2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        background-color: #e24f4f;
      }
    }
    .property-17-Yzb {
      height: 42.8rem;
      position: absolute;
      left: 4.1rem;
      top: 102.7rem;
      width: 31.9rem;

      .rectangle-43-5Dq {
        top: 0;
        border: solid 0.5rem #048853;
        width: 31.9rem;
        height: 36.8rem;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.5rem;
      }
      .green-residences-yq1 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 26.3rem;
        font-size: 2.4rem;
        line-height: 1.5;
        color: #000000;
        font-weight: 600;
        height: 3.6rem;
        position: absolute;
        left: 2.0285rem;
        top: 26.1701rem;
      }
      .taft-ave-malate-manila-Hqh {
        position: absolute;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        left: 2.1478rem;
        top: 28.5618rem;
        font-weight: 600;
        width: 19.9rem;
      }
      .occupied-Pdq {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        left: 5.4rem;
        top: 31.8rem;
        font-weight: 600;
        color: #858122;
        width: 9.9rem;
        font-size: 2rem;
        line-height: 1.5;
      }
      .mask-group-WTZ {
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
      }
      .rectangle-64-3Cb {
        border-radius: 0.5rem;
        width: 3.2rem;
        position: absolute;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        background-color: #e2dc4f;
        height: 3.2rem;
        left: 2rem;
      }
    }
    .property-18-wYs {
      left: 108.1rem;
      top: 102.7rem;
      width: 31.9rem;
      height: 42.8rem;
      position: absolute;

      .rectangle-43-UHu {
        box-sizing: border-box;
        width: 31.9rem;
        border: solid 0.5rem #048853;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 36.8rem;
        position: absolute;
      }
      .green-residences-yVZ {
        height: 3.6rem;
        top: 26.1701rem;
        font-size: 2.4rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 26.3rem;
        left: 2.0285rem;
        font-weight: 600;
        white-space: nowrap;
        position: absolute;
      }
      .taft-ave-malate-manila-GzT {
        width: 19.9rem;
        position: absolute;
        top: 28.5618rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        height: 2.4rem;
        left: 2.1478rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .occupied-P3V {
        width: 9.9rem;
        position: absolute;
        top: 31.9rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        height: 3rem;
        left: 5.4rem;
        font-size: 2rem;
        color: #858122;
        font-family: Poppins, 'Source Sans Pro';
      }
      .mask-group-HuZ {
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
      }
      .rectangle-64-p8o {
        width: 3.2rem;
        position: absolute;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        height: 3.2rem;
        left: 2rem;
        box-sizing: border-box;
        background-color: #e2dc4f;
        border-radius: 0.5rem;
      }
    }
    .property-19-WnK {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 38.8rem;
      top: 102.8rem;

      .rectangle-43-ReP {
        border-radius: 0.5rem;
        height: 36.7249rem;
        left: 0;
        top: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 31.8589rem;
        position: absolute;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      }
      .green-residences-XSX {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.6rem;
        position: absolute;
        top: 26.1701rem;
        font-size: 2.4rem;
        font-weight: 600;
        color: #000000;
        width: 26.3rem;
        left: 2.0285rem;
      }
      .taft-ave-malate-manila-DaF {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        height: 2.4rem;
        left: 2.1478rem;
        top: 28.5618rem;
        white-space: nowrap;
        width: 19.9rem;
      }
      .not-occupied-vjZ {
        font-weight: 600;
        color: #3fd15f;
        white-space: nowrap;
        position: absolute;
        height: 3rem;
        left: 5.7rem;
        top: 31.7rem;
        font-size: 2rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 13.9rem;
      }
      .mask-group-F19 {
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
      }
      .rectangle-64-yC3 {
        border-radius: 0.5rem;
        width: 3.2rem;
        position: absolute;
        left: 2rem;
        top: 31.7rem;
        box-sizing: border-box;
        background-color: #3fd15f;
        height: 3.2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
      }
    }
    .property-20-HTd {
      height: 42.8rem;
      position: absolute;
      left: 73.5rem;
      top: 102.7rem;
      width: 31.8589rem;

      .rectangle-43-R43 {
        width: 31.8589rem;
        height: 36.7249rem;
        border: solid 0.5rem #048853;
        border-radius: 0.5rem;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
      }
      .green-residences-7Sf {
        width: 26.3rem;
        height: 3.6rem;
        left: 2.0285rem;
        top: 26.1701rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
      }
      .taft-ave-malate-manila-pby {
        left: 2.1478rem;
        top: 28.5618rem;
        color: #000000;
        position: absolute;
        height: 2.4rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.9rem;
      }
      .occupied-needs-attention-8cf {
        font-family: Poppins, 'Source Sans Pro';
        height: 2.7rem;
        top: 31.7rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #e24f4f;
        width: 24.3rem;
        position: absolute;
        left: 5.5rem;
        white-space: nowrap;
      }
      .mask-group-EQo {
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
      }
      .rectangle-64-N1D {
        position: absolute;
        left: 2rem;
        box-sizing: border-box;
        background-color: #e24f4f;
        border-radius: 0.5rem;
        width: 3.2rem;
        height: 3.2rem;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
      }
    }
    .property-21-sif {
      top: 141.8rem;
      width: 31.9rem;
      height: 42.8rem;
      position: absolute;
      left: 4.1rem;

      .rectangle-43-nqd {
        position: absolute;
        border-radius: 0.5rem;
        width: 31.9rem;
        height: 36.8rem;
        left: 0;
        top: 0;
        border: solid 0.5rem #048853;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
      }
      .green-residences-JJB {
        height: 3.6rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 26.3rem;
        left: 2.0285rem;
        top: 26.1701rem;
        font-weight: 600;
        color: #000000;
      }
      .taft-ave-malate-manila-Qc7 {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.9rem;
        height: 2.4rem;
        left: 2.1478rem;
        font-size: 1.6rem;
        font-weight: 600;
        position: absolute;
        top: 28.5618rem;
        white-space: nowrap;
      }
      .occupied-v4f {
        position: absolute;
        left: 5.4rem;
        line-height: 1.5;
        color: #858122;
        width: 9.9rem;
        height: 3rem;
        top: 31.8rem;
        font-size: 2rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mask-group-ELF {
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-64-NBZ {
        height: 3.2rem;
        top: 31.7rem;
        background-color: #e2dc4f;
        width: 3.2rem;
        position: absolute;
        left: 2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-radius: 0.5rem;
      }
    }
    .property-22-fgT {
      width: 31.9rem;
      height: 42.8rem;
      position: absolute;
      left: 108.1rem;
      top: 141.8rem;

      .rectangle-43-zij {
        border: solid 0.5rem #048853;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.5rem;
        height: 36.8rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 31.9rem;
        box-sizing: border-box;
      }
      .green-residences-6mm {
        height: 3.6rem;
        left: 2.0285rem;
        color: #000000;
        width: 26.3rem;
        top: 26.1701rem;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
      }
      .taft-ave-malate-manila-DLb {
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 28.5618rem;
        font-size: 1.6rem;
        color: #000000;
        width: 19.9rem;
        height: 2.4rem;
        left: 2.1478rem;
      }
      .occupied-uz7 {
        color: #858122;
        left: 5.4rem;
        height: 3rem;
        position: absolute;
        top: 31.9rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 9.9rem;
        white-space: nowrap;
      }
      .mask-group-qMy {
        width: 27.6846rem;
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-64-xhV {
        width: 3.2rem;
        height: 3.2rem;
        position: absolute;
        left: 2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        border-radius: 0.5rem;
        top: 31.7rem;
        box-sizing: border-box;
        background-color: #e2dc4f;
      }
    }
    .property-23-fM1 {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 38.8rem;
      top: 141.9rem;

      .rectangle-43-B4T {
        border: solid 0.5rem #048853;
        border-radius: 0.5rem;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        width: 31.8589rem;
        height: 36.7249rem;
      }
      .green-residences-UJT {
        width: 26.3rem;
        height: 3.6rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 2.0285rem;
        top: 26.1701rem;
        font-size: 2.4rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
      }
      .taft-ave-malate-manila-Yp7 {
        top: 28.5618rem;
        font-weight: 600;
        color: #000000;
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        left: 2.1478rem;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.9rem;
      }
      .not-occupied-SPh {
        white-space: nowrap;
        left: 5.7rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #3fd15f;
        font-family: Poppins, 'Source Sans Pro';
        width: 13.9rem;
        height: 3rem;
        position: absolute;
        top: 31.7rem;
      }
      .mask-group-jtb {
        height: 23.9998rem;
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
      }
      .rectangle-64-4vs {
        height: 3.2rem;
        position: absolute;
        left: 2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 3.2rem;
        top: 31.7rem;
        background-color: #3fd15f;
      }
    }
    .property-24-rbq {
      width: 31.8589rem;
      height: 42.8rem;
      position: absolute;
      left: 73.5rem;
      top: 141.8rem;

      .rectangle-43-mio {
        position: absolute;
        box-sizing: border-box;
        background-color: #ffffff;
        top: 0;
        border: solid 0.5rem #048853;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        width: 31.8589rem;
        height: 36.7249rem;
        left: 0;
      }
      .green-residences-4xo {
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        height: 3.6rem;
        left: 2.0285rem;
        font-size: 2.4rem;
        font-weight: 600;
        width: 26.3rem;
        position: absolute;
        top: 26.1701rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .taft-ave-malate-manila-PEP {
        font-weight: 600;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.9rem;
        height: 2.4rem;
        position: absolute;
        left: 2.1478rem;
        top: 28.5618rem;
        font-size: 1.6rem;
        line-height: 1.5;
      }
      .occupied-needs-attention-uCj {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 24.3rem;
        height: 2.7rem;
        position: absolute;
        left: 5.5rem;
        top: 31.7rem;
        color: #e24f4f;
      }
      .mask-group-pKh {
        position: absolute;
        left: 2.0588rem;
        top: 2.3253rem;
        object-fit: contain;
        vertical-align: top;
        width: 27.6846rem;
        height: 23.9998rem;
      }
      .rectangle-64-LYw {
        left: 2rem;
        top: 31.7rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        background-color: #e24f4f;
        border-radius: 0.5rem;
        position: absolute;
        height: 3.2rem;
        width: 3.2rem;
      }
    }
    .properties-qVh {
      width: 59.3rem;
      font-size: 10rem;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      white-space: nowrap;
      height: 15rem;
      position: absolute;
      left: 42.4rem;
      top: 9.1rem;
      font-weight: 700;
    }
    .header-9FV {
      width: 144rem;
      height: 9.1rem;
      position: absolute;
      left: 0.1rem;
      top: 0;
      background: linear-gradient(292.9deg, #048853 99.02%, rgba(0, 0, 0, 0.8399999738) 265.36%);
    }
    .twenty25-dRZ {
      left: 3.3rem;
      top: 0.8rem;
      font-weight: 700;
      font-style: italic;
      font-family: Poppins, 'Source Sans Pro';
      height: 7.5rem;
      position: absolute;
      font-size: 5rem;
      line-height: 1.5;
      white-space: nowrap;
      width: 25.6rem;
    }
    .sign-out-jzP {
      font-family: Poppins, 'Source Sans Pro';
      width: 12.8rem;
      height: 4.5rem;
      position: absolute;
      left: 127.1rem;
      font-size: 3rem;
      color: #ffffff;
      top: 2.3rem;
      font-weight: 500;
      line-height: 1.5;
      white-space: nowrap;
    }
    .icon-plus-Sdu {
      left: 133.9rem;
      top: 10.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.5rem;
      height: 7.4rem;
      position: absolute;
    }
    .view-trackers-NnT {
      color: #ffffff;
      height: 4.5rem;
      position: absolute;
      left: 102.2rem;
      font-size: 3rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 21rem;
      top: 2.3rem;
      font-weight: 500;
      line-height: 1.5;
    }
    .remove-property-5gs {
      left: 73.1rem;
      top: 2.3rem;
      font-size: 3rem;
      white-space: nowrap;
      width: 25.9rem;
      position: absolute;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      height: 4.5rem;
      font-weight: 500;
    }
  }
  .mask-group-nbH {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    width: 136.6rem;
    height: 73.7rem;
    position: relative;
  }
}
