<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C700"/>
  <link rel="stylesheet" href="./styles/login.css"/>
</head>
<body>
<div class="login-5N7">
  <img class="group-2-QfH" src="./assets/group-2-7Pu.png"/>
  <p class="twenty25-YmV">twenty25.</p>
  <p class="login-S6B">Login</p>
  <div class="rectangle-68-jLB">
  </div>
  <div class="rectangle-69-2aB">
  </div>
  <p class="username-XWw">username</p>
  <p class="password-2Th">password</p>
  <p class="dont-have-an-account-yet-sign-up-w4s">
    <span class="dont-have-an-account-yet-sign-up-w4s-sub-0">Don’t have an account yet? </span>
    <span class="dont-have-an-account-yet-sign-up-w4s-sub-1">Sign up</span>
  </p>
  <img class="user-LPq" src="./assets/user-yiP.png"/>
  <img class="lock-G2b" src="./assets/lock.png"/>
</div>
</body>