ul, li {
	list-style: none;
}
input {
	border: none;
}
.login-3Cj {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.login-3Cj .group-3-ys5 {
  opacity: 0.9;
  width: 199rem;
  height: 144.4377rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.login-3Cj .group-3-ys5 .bg-i3y {
  margin-right: 8.8959rem;
  width: 84.9041rem;
  height: 86.0377rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-3Cj .group-3-ys5 .vector-3rw {
  margin-bottom: 54.4377rem;
  width: 105.2rem;
  height: 90rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.login-3Cj .rectangle-68-n3q {
  width: 50.1rem;
  height: 10.2rem;
  position: absolute;
  left: 46.9rem;
  top: 37.3rem;
  background: linear-gradient(90.61deg, rgba(187, 191, 202, 0.8700000048) 149.81%, #e8e8e8 189.14%, #e8e8e8 200.85%);
}
.login-3Cj .rectangle-69-r3h {
  width: 50.1rem;
  height: 10.2rem;
  position: absolute;
  left: 46.9rem;
  top: 51.2rem;
  background: linear-gradient(90.61deg, rgba(187, 191, 202, 0.8700000048) 149.81%, #e8e8e8 189.14%, #e8e8e8 200.85%);
}
.login-3Cj .password-YBR {
  width: 14.6rem;
  height: 4.5rem;
  position: absolute;
  left: 51.8rem;
  top: 54.2rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.login-3Cj .lock-SXh {
  width: 2.25rem;
  height: 2.5rem;
  position: absolute;
  left: 48.175rem;
  top: 55.05rem;
  object-fit: contain;
  vertical-align: top;
}
.login-3Cj .user-ZsD {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 47.8rem;
  top: 40.9rem;
  object-fit: contain;
  vertical-align: top;
}
.login-3Cj .twenty25-6s9 {
  width: 27.4rem;
  height: 7.2rem;
  position: absolute;
  left: 1.3rem;
  top: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.login-3Cj .username-PrF {
  width: 15.7rem;
  height: 4.5rem;
  position: absolute;
  left: 51.8rem;
  top: 40.3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.login-3Cj .dont-have-an-account-yet-sign-up-hrw {
  width: 30.1rem;
  height: 2.6rem;
  position: absolute;
  left: 57.05rem;
  top: 63.3rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.login-3Cj .dont-have-an-account-yet-sign-up-hrw .dont-have-an-account-yet-sign-up-hrw-sub-0 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.login-3Cj .dont-have-an-account-yet-sign-up-hrw .dont-have-an-account-yet-sign-up-hrw-sub-1 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration-line: underline;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}

.Login {
    left: 700px;
    top: 700px;
    position: absolute;
    overflow: hidden;
}